version: '3.8'

services:
  analytics:
    # image: analytics-api:latest
    image: analytics-api:1.0.0
    volumes:
      - analyticsv:/var/www
    networks:
      - monitoring-network
    ports:
      - 9000:80
    deploy:
      mode: replicated
      replicas: 2
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  analytics_database:
    image: postgres:latest
    environment:
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
    ports:
      - 3245:5432
    networks:
      - monitoring-network
    volumes:
      - analyticsdata:/var/lib/postgresql/data
      # - ./pg_hba.conf:/etc/postgresql/pg_hba.conf


networks:
  monitoring-network:
    driver: overlay

volumes:
  analyticsv:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /docker/analytics/app/www

  analyticsdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /docker/analytics/app/data

  
